#container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 80vw;
    height: 80vh;
}

#container_pendu {
    display: flex;
    justify-content: center;
}

img {
    width: 300px;
    max-height: 500px;
}

#container_lettres {
    display: flex;
}

.lettres {
    padding: 10px;
    background-color: greenyellow;
    cursor: pointer;
}

.lettres:hover {
    border: red solid 1px;
}

#reponse {
    border: none;
}