body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: inherit;
    background: #41444b;
    color: #41444b;
    font: inherit;
    display: flex;
    justify-content: center;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    background-color: #52575d;
}

#container_pendu {
    display: flex;
    justify-content: center;
    width: 80vw;
    height: 33vh;
    margin-top: 5vh;
    padding: 1vh 5vw;
    background-color: #f6f4e6;
}

img {
    width: 20vw;
    max-height: 20vh;
}

#container_lettres {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    width: 90vw;
}

.lettres {
    width: 100%;
    text-align: center;
    cursor: pointer;
    font-size: 2em;
    text-transform: uppercase;
    transition: all 0.2s ease;
    border-left: #41444b solid 0.1vw;
    border-right: #41444b solid 0.1vw;
    border-top: #52575d solid 0.1vw;
    border-bottom: #52575d solid 0.1vw;
    background-color: #52575d;
}

.lettres:hover {
    border: #41444b solid 0.1vw 0.1vw;
    background-color: #cdc733;
}

#container_reponse {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 25vh;
    width: 100vw;
    border-radius: 100% 100% 0% 0%;
    background-color: #cdc733;
}

.fin {
    text-align: center;
    width: 100vw;
    transition: all 0.3s ease;
    color: #52575d;
    font-size: 2em;
    font-weight: bold;
}

#user_word_choice {
    text-transform: uppercase;
    color: #f6f4e6;
}